.DS_Store
frontend/node_modules
package-lock.json
/dist


# local env files
.env.local
.env.*.local

# Environment variables file
.env

# local venv folder
.venv/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/logs/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Python cache files
**/__pycache__/
**/__init__.py
**/*.pytest_cache/
# test database files
**/tests/db/

# Environment variables file
.env

git-workflow.md
